<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .chat-container {
            width: 80%;
            margin: 0 auto;
            padding-top: 50px;
        }
        .message {
            padding: 10px;
            margin-bottom: 10px;
            background-color: #f4f4f9;
            border-radius: 5px;
        }
        .sender {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="chat-container">
        {% for message in messages %}
            <div class="message">
                <div class="sender">{{ message.sender.nickname }}</div>  <!-- Exibe o nome do remetente -->
                <div>{{ message.content }}</div> <!-- Exibe o texto da mensagem -->
                <div>{{ message.timestamp }}</div> <!-- Exibe o timestamp -->
            </div>
        {% endfor %}
    </div>
</body>
</html>
